gender_submission.csv
submission.csv
submission_impute.csv
submission4.csv
submission5.csv
submission5_1.csv
test.csv
test.py
titanic.py
titanic_impute.py
titanic4.py
titanic5.py
titanic6.py
train.csv
xgboost_optimisation_demo.py
